body {
  background-color: #8FBC8F; /* a pleasent green */
}

pixel-canvas {
  display: block;
  cursor: default;
  margin: auto;

  border: 3px solid black;
  border-radius: 5px;
}

color-pallet {
  display: block;
  flex-wrap: wrap;
  cursor: default;
  margin: 10px auto;
}

.brush-square {
  border: 3px solid black;
}

.pallet-square {
  background-color: white;
  border: 1px solid black;
}

.canvas-pixel {
  background-color: white;
  border: 1px solid black;
}

#outer-container {
  width: 100%
}

#gradient-section {
  display: flex;
  cursor: default;
  margin: 10px auto;
  width: 200px;
}
