body {
  background-color: #8FBC8F; /* a pleasent green */
}

.pallet-pixel {
  background-color: white;
  border: 1px solid black;
}

.canvas-pixel {
  background-color: white;
  border: 1px solid black;
}

#outer-container {
  width: 100%
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: auto;
}

#pallet {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: 10px auto;
}
